body {
    font-family: Arial, sans-serif;
    background-color: #c4c4c4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: white;
    padding: 15px;
    text-align: center;
}
