body {
    font-family: Arial, sans-serif;
    background-color: #d4d4d4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111;
    color: white;
    padding: 15px;
    text-align: center;
}
